@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
    --header-font: "Montserrat", sans-serif;
    --body-font: "Merriweather Sans", sans-serif;
    --alternate-font: "Cairo", sans-serif;
    --primary: #3e7e45;
    --secondary: #cecece;
    --accent: #ecf96e;
}

* {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

p {
    font-family: var(--body-font);
}

